body{
    background-image: url(../images/backdropfr.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    /* overflow: hidden; */
    width: auto;
    height: 100vh;
    
}

.logo{
    width: 60px;
    border-radius: 80%;
    float: left;
}
.navbar{
    align-items: center;
    font-size: 30px;
    background-color: darkcyan;
    text-align:center ;
    margin-left: auto;
    margin-right: auto;
}
.navbar h1{
    margin: 0;
    margin-right: auto;
    color: rgb(116, 221, 221);
    
}
.navbar nav ul{
    list-style: none;
    padding: 0;
    margin:0;
    display:  flex;
    margin-right: 10px;
}
.nav-item{
    margin-left: 20px;
    padding-right: 17px;
    
}

.nav-link {
    color: lightsalmon;
    text-decoration: none;
}
a.nav-link:hover {
    color: rgb(182, 142, 68);
}

.card-container{
    flex-direction: column;
    display: flex;
    flex: wrap;
    align-items: center;

}
.card{
    width: 45%;
    font-size: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 20px 30px;

}
#card{
    background-color: rgb(184, 253, 255);
}
.col-md-8{
    color: rgb(80, 83, 62);
}
.top{
    text-align: center;
    margin-bottom: 60px;
    margin-top: 20px;
}
.top, h2, h4{
    color: rgb(175, 255, 255);
    text-shadow: 1px 1px 5px rgb(173, 226, 247);
}
.pagetitle{
    font-size: 60px;
}
.pagepara{
    font-size: 36px;
}
footer{
    color: white;
}