body{
    background-image: url(../images/backdropfr.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    
}
.logo{
    width: 60px;
    border-radius: 80%;
    float: left;
}
.navbar{
    align-items: center;
    font-size: 30px;
    background-color: darkcyan;
    text-align:center ;
    margin-left: auto;
    margin-right: auto;
}
.navbar h1{
    margin: 0;
    margin-right: auto;
    color: rgb(116, 221, 221);
    
}
.navbar nav ul{
    list-style: none;
    padding: 0;
    margin:0;
    display:  flex;
    margin-right: 10px;
}
.nav-item{
    margin-left: 20px;
    
}

.nav-link {
    color: lightsalmon;
    text-decoration: none;
}
a.nav-link:hover {
    color: rgb(182, 142, 68);
}

h1{
    font-size: 10px;
}
p,h1{
    color: whitesmoke
}
p{
    font-size: 25px;
}
